
<div class="contentAll">
  <section class="contentTitle">
      <h1>{{title}}</h1>
  </section>


  <section class="content-wrapper">
    <form action="" (ngSubmit)="checkInput()">
      <div class="add-task">
        <div class="contentInputBtnMore">
          <input type="text" #textInput name="input" id="input" value=""[(ngModel)]="input" >
          <button class="btn" id="middleBtn" type='submit' value="ok" (click)="addNewTask(); checkInput()"><i class="fa-solid fa-plus"></i></button>
        </div>
        <button class="btn" (click)="clearInput()"><i class="fa-solid fa-trash-can"></i></button>
      </div>
        <div class="tasks-wrapper" *ngIf="tasks.length > 0">
        <div class="task" id="{{task.id}}" *ngFor="let task of tasks">
          <p>{{task.task}}</p>
          <div class="contentClose">
            <button type="button" (click)="deletTask(task.id)"><i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>






